{% extends 'base.html' %}
{% load static %}

{% block contents %}

  <div class="container">
    <a href="{% url 'info' %}"><img src="{% static '1.jpg' %}" width="250" height="300" alt="1.jpg"></a>
    <br>
    <h5>If you want to know more about me?!</h5>
    <h5>Just click my character!</h5>
    <br><br>
    {% for blog in posts %}

    <div class="card" style="width: 18rem;">
      <h4 class="card-subtitle">{{blog.author_id}}</h4>
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{blog.created_date}}</h6>
        <p class="card-text">{{blog.summary}}</p>
        <a href="{% url 'detail' blog.id %}" class="card-link">...더보기</a>
      </div>
    </div>
    {% endfor %}

  {% if blogs.has_previous %}
  <a href="?page=1">맨 앞으로</a>
  <a href="?page={{posts.previous_page_number}}">이전으로</a>
  {% endif %}

  <span>{{posts.number}}</span>
  <span>/</span>
  <span>{{posts.paginator.num_pages}}</span>

  {% if posts.has_next %}
  <a hre="?page={{posts.next_page_number}}">다음으로</a>
  <a  href="?page={{posts.paginator.num_pages}}">맨 뒤로</a>
  {% endif %}
</div>
{% endblock %}

</body>

</html>